#!/bin/sh

errorExit() {
    echo "*** $*" 1>&2
    exit 1
}

curl --silent --max-time 2 --insecure https://localhost:{{ api_port_front }}/ -o /dev/null || errorExit "Error GET https://localhost:{{ api_port_front }}/"
if ip addr | grep -q {{ api_server_vip }}; then
    curl --silent --max-time 2 --insecure https://{{ api_server_vip }}:{{ api_port_front }}/ -o /dev/null || errorExit "Error GET https://{{ api_server_vip }}:{{ api_port_front }}/"
fi
