! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state {{ ha_role }}
    interface enp0s8
    virtual_router_id {{ router_id }}
    priority {{ priority }}
    authentication {
        auth_type PASS
        auth_pass {{ auth_pass }}
    }
    virtual_ipaddress {
        {{ api_server_vip }}
    }
    track_script {
        check_apiserver
    }
    notify "/etc/keepalived/notify_haproxy.sh"
}
